<h1>All Jokes in Vault</h1>
<% @jokes = current_user.jokes %>
<% @jokes.each do |joke| %>
  <div>
    <%= joke.name %><br>
    <%= joke.body %><br>
    <%= joke.status %><br>
    <a href="/jokes/<%= joke.id %>/edit">Edit Joke<%= joke.id %><br></a>

  </div>
<% end %>

<a href="/login">Account home</a>

<a href="/edit">Edit Joke</a>
